// Types
$font-family-base: "OrstedSans", Arial, Helvetica, Sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$text-color: #000000 !important;
$body-bg: #fff;

$headings-font-family: "OrstedSans";
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: $text-color;

$font-size-h1: 22px;
$font-size-h2: 22px;
$font-size-h3: 22px;
$font-size-h4: 16px;

$screen-lg: 990px;
$screen-md: 768px;
$screen-sm: 580px;
$screen-xs: 360px;