@font-face {
  font-family: "OrstedSans";
  src: url('../fonts/MaineSans-Light.eot');
  src: url('../fonts/MaineSans-Light.eot?#iefix') format('eot'), url('../fonts/MaineSans-Light.ttf') format('truetype'), url('../fonts/MaineSans-Light.svg') format('svg'), url('../fonts/MaineSans-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "OrstedSans";
  src: url('../fonts/MaineSans-Regular.eot');
  src: url('../fonts/MaineSans-Regular.eot?#iefix') format('eot'), url('../fonts/MaineSans-Regular.ttf') format('truetype'), url('../fonts/MaineSans-Regular.svg') format('svg'), url('../fonts/MaineSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "OrstedSans";
  src: url('../fonts/MaineSans-Bold.eot');
  src: url('../fonts/MaineSans-Bold.eot?#iefix') format('eot'), url('../fonts/MaineSans-Bold.ttf') format('truetype'), url('../fonts/MaineSans-Bold.svg') format('svg'), url('../fonts/MaineSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "OrstedSans";
  src: url('../fonts/MaineSans-Black.eot');
  src: url('../fonts/MaineSans-Black.eot?#iefix') format('eot'), url('../fonts/MaineSans-Black.ttf') format('truetype'), url('../fonts/MaineSans-Black.svg') format('svg'), url('../fonts/MaineSans-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: "orsted-maine";
  src: url('../fonts/orsted-maine.eot');
  src: url('../fonts/orsted-maine.eot?#iefix') format('eot'), url('../fonts/orsted-maine.ttf') format('truetype'), url('../fonts/orsted-maine.svg') format('svg'), url('../fonts/orsted-maine.woff') format('woff');
  font-weight: 900;
}