textarea,
input[type="tel"],
input[type="text"],
input[type="number"] {
    outline: none;
    -webkit-appearance: none;
}

::-ms-clear, ::-ms-reveal {
    width: 0;
    height: 0;
}

.form-group {
    display: flex;
    position: relative;
    margin: 30px 0 0;
    flex-direction: column;

    &.center {
        align-items: center;

        @media screen and (max-width: $screen-xs) {
            align-items: flex-start;
        }
    }

    &.right {
        align-items: flex-end;

        @media screen and (max-width: $screen-xs) {
            align-items: flex-start;
        }
    }

    &-content {
        position: relative;

        &[data-unit]:before {
            top: 12px;
            right: 16px;
            font-size: 15px;
            position: absolute;
            content: attr(data-unit);
            font-family: Arial, Helvetica, sans-serif;
        }

        & + small {
            order: 2;
            bottom: auto;
            margin-top: 10px;
            position: relative;
            transform: none;
        }
    }

    &.margin-bottom {
        margin-bottom: 30px;

        @media screen and (max-width: $screen-xs) {
            margin-bottom: 10px;
        }

        .error-text {
            position: absolute;
            transform: translateY(100%);
            padding-top: 4px;
            bottom: 0;
        }

        small + .error-text {
            margin-top: 0px;
            margin-bottom: -5px;
            position: relative;
            transform: none;
        }
    }

    &.has-danger {
        &:after {
            content: '!';
            padding: 0 0 0 11px;
            background: #E85757;
        }

        small {
            margin-top: 5px;
        }

        .mandatory {
            input, textarea {
                border-color: #4C4C4C;
            }
        }
    }

    &.has-success {
        &:after {
            content: '\002713';
            padding: 0 0 0 5px;
            background: #8ECDC8;
        }
    }

    &.has-danger,
    &.has-success {
        &:after {
            top: 9px;
            right: 10px;
            width: 26px;
            height: 26px;
            display: block;
            color: #FFFFFF;
            font-weight: 700;
            line-height: 26px;
            position: absolute;
            font-family: 'OrstedSans';
            border-radius: 13px;
        }

        .form-group-content:before {
            right: 42px;
        }

        input[data-init="orsted.input"],
        textarea[data-init="orsted.textarea"] {
            padding-right: 46px;
        }

        &[data-unit] {
            input[data-init="orsted.input"],
            textarea[data-init="orsted.textarea"] {
                padding-right: 66px;
            }
        }
    }

    &.has-danger .mandatory {
        input[data-init="orsted.input"],
        textarea[data-init="orsted.textarea"] {
            border-color: #4C4C4C;
        }
    }

    .error-text,
    .radio-error-text {
        order: 1;
        margin-top: 4px;
        position: relative;
        margin-left: 16px;
        color: #E85757;
        font-size: 12px;
        line-height: 18px;
        min-height: 16px;
        font-weight: 400;
        display: block;
        z-index: -1;
    }

    label {
        top: 22px;
        left: 24px;
        z-index: 1;
        cursor: text;
        font-size: 16px;
        color: #000000;
        font-weight: 400;
        line-height: 1.25;
        user-select: none;
        position: absolute;
        display: inline-block;

        &.animate {
            &, * {
                transform: translateZ(0);
                transition: all .25s ease;
            }
        }

        &.is-active {
            top: 0;
            cursor: default;
            font-size: 12px;
            margin-right: 22px;

            & + input {
                color: #000000;
            }

            .form-help {
                width: 18px;
                height: 18px;
                font-size: 12px;
                line-height: 18px;
                margin-top: -9px;
                
                &:hover:after {
                    bottom: -10px;
                    border-bottom: 8px solid #000000;
                    border-top: 8px solid transparent;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                }
            }
        }

        .form-help {
            top: 50%;
            margin-top: -13px;
            transform: translate(6px, 0);

            &-text {
                left: -16px;
            }
        }
        
        &[class*="terms-checkbox"] + *[class*="link"] {
            white-space: nowrap;
            vertical-align: middle;
        }

        &[class*="terms-checkbox"],
        &[class*="basic-checkbox"],
        &[class*="basic-radiobutton"] {
            top: 0;
            left: 0;
            cursor: pointer;
            transform: none;
            position: relative;
            margin-bottom: 15px;
            
            input {
                cursor: pointer;
                visibility: visible;
            }

            span {
                font-size: 15px;
                font-weight: 400;
                margin-left: 5px;
                font-family: 'OrstedSans';
            }

            input, span {
                vertical-align: middle;
            }

            &:after {
                display: none;
            }

            &[class*="-inline"] {
                display: inline;
            }
        }

        &[class*="terms-checkbox"] {
            display: inline;
            line-height: 24px;
        }

        &[class*="basic-checkbox"],
        &[class*="basic-radiobutton"] {
            input:checked + span {
                color: #4099DA;
                font-weight: 700;
            }
        }
    }

    label[class*="-inline"] + label[class*="-inline"] {
        margin-left: 30px;
    }

    label, legend {
        &.below {
            z-index: -1;
        }

        &.disabled {
            &, & *, & + *, & + * * {
                cursor: default !important;
            }

            &, & + input, & + textarea {
                color: rgba(153,164,174,.5) !important;
                transition: none !important;
                transform: none !important;
            }

            & + input, & + textarea {
                border-color: rgba(178,178,178,.5) !important;
            }

            & + .orsted-select .orsted-select-label, & .form-help {
                background: rgba(178,178,178,.5) !important;
            }

            & .form-help:hover:after {
                content: none !important;
            }

            &:after {
                content: none !important;
            }
        }
    }

    .form-help {
       top: 50%;
        width: 26px;
        height: 26px;
        line-height: 25px;
        border-radius: 50%;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        text-align: center;
        position: absolute;
        display: inline-block;
        font-family: 'OrstedSans';
        background: #4099da;
        transform: translateY(-50%);

        &:before {
            content: '?';
        }

        &.on:after {
            width: 0;
            height: 0;
            left: 50%;
            bottom: -12px;
            content: '';
            z-index: 10000;
            //display: none;
            position: absolute;
            transform: translateX(-50%);
            border-bottom: 10px solid;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        &-text {
            top: 0;
            left: 0;
            hyphens: auto;
            z-index: 10000;
            padding: 16px;
            max-width: 303px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            position: absolute;
            background:#4099da;
            transition: none !important;
        }
    }

    legend {
        width: 100%;
        padding: 0;
        font-size: 16px;
        max-width: 100%;
        font-weight: 700;
        margin: -35px 0 8px;
        white-space: normal;
        position: relative;

        .form-help {
            transform: translate(12px, -50%);
        }

        &:hover + .orsted-select {
            z-index: -1;
        }

        @media screen and (max-width: $screen-xs) {
            font-size: 16px;
            margin: -30px 0 8px;

            .form-help {
                width: 22px;
                height: 22px;
                font-size: 14px;
                line-height: 22px;
                transform: translate(12px, -50%);
            }
        }

        & + small {
            display: block;
            margin: -4px 0 8px;
        }
    }

    input[data-init="orsted.input"] {
        height: 64px;
        border-radius: 4px;
    }

    textarea[data-init="orsted.textarea"] {
        line-height: 1.25;
        border-radius: 4px;
    }

    input[data-init="orsted.input"],
    textarea[data-init="orsted.textarea"] {
       width: 100%;
        color: #000000;
        display: block;
        font-size: 16px;
        padding: 17px 22px 0 22px;
        color: transparent;
        visibility: visible;
        background: transparent;
        border: 2px solid #e5e8eb;
        font-family: Arial, Helvetica, sans-serif;

        &:disabled {
            cursor: default;
            border-color: rgba(178,178,178,.5);
        }

        &:focus {
            outline: none;
        }
    }

    select[data-init="orsted.select"] {
        font-family: Arial, Helvetica, sans-serif;
    }

    .mandatory {
        order: 0;

        label, legend {
            &:after {
                content: '*';
                color: #e85757;
                font-weight: 700;
                margin-left: 1px;
            }

            &.is-active:after {
                color:#000000;
            }
        }

        label {
            .form-help {
                transform: translate(12px, 0);
            }
        }

        legend {
            .form-help {
                transform: translate(22px, -50%);

                @media screen and (max-width: $screen-xs) {
                    transform: translate(18px, -50%);
                }
            }
        }

        legend:after {
            margin-left: 4px;
        }

        .link-inline {
            font-size: 15px;

            &:hover {
                color: #4099DA;
            }

            &-red:hover {
                color: #E85757;
            }
        }
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}