
/*
 * Color variables
 * ---------------------------------------- */
$placeholder_color : #ccc;

$text_color : #000;

$link_color : #ef1114;

$selected_color : #ef1114; // bg color on selected text and HTML elements
